*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: greenyellow;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #141414;
}

header{
    width: 100%;
    height: 7vh;
    background-color: rgba(8, 8, 8, 0.2);
    align-items: center;
}

.menu{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}

.logo{
    font-size: 1.85rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

h1 a{
    color: white;
}

.lista{
    display: flex;
    list-style: none;
    gap: 12px;
    font-size: 18px;
}

.lista a{
    color: white;
    padding: 5px;
    transform: 2ms ease-in;
    position: relative;
}

.lista a::before{
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transition: all 1.5s ease;
}

.menu .lista a:hover::before{
    width: 100%;
}

/* Menu Hamburger */

#nav{
    display: none;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem; /*-espacamentodaspalavras-*/
  }
  
  #menu a {
    display: block;
    padding: 5rem;
  }
  
  #btn-mobile {
    display: none;
  }
  
  @media (max-width: 700px) {
    #nav{
        display: block;
    }
    #menu {
      display: block;
      position: absolute;
      width: 70%;
      top: 70px;
      right: 0px;
      background: rgb(255, 255, 255);
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      color: black;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: 42vh;
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

.main-container{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    font-size: 2.2rem;
    flex-wrap: nowrap;
}

img{
    margin-top: 1%;
    display: block;
    white-space: wrap;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    max-height: 400px;
    animation: type 2s steps(60, end); 
}

.img-info{
    width: 100%;
}

.main-container h2{
    margin-bottom: 33px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
}

.info{
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

#btn-rfs{
    margin-top: 20px;
    background-color: rgb(0, 119, 0);
    color: white;
}

.btns button{
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.1rem;
    border-radius: 20px;
    transition: 1.5s;
    color: black;
}

.btns button:hover{
    background-color: transparent;
    border: none;
    color: white;
}

#btn-rfs:hover{
    background-color: transparent;
    border: none;
    color: white;
}

footer{
    margin-top: 20%;
    text-align: center;
    height: 90px;
    background-color: rgb(39, 39, 39);
    color: white;
    padding-top: 40px;
}



p{
    margin-left: auto;
    margin-right: auto;
    color: lime; 
    font-family: "Courier";
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 9s steps(120, end); 
    width: 100%;
  }
  
  p:nth-child(2){
    animation: type2 9s steps(120, end);
  }
  
  p a{
    color: black;
    text-decoration: none;
  }
  
  @keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 
  
@media (max-width: 700px){
    h2{
        font-size: 50px;
    }
    p{
        font-size: 22px;
    }
    img{
        margin-top: 20px;
        width: 300px;
    }
    .info{
        margin-top: 50px;
    }

    .btns{
        gap: 20px;
    }
}

header{
    animation: fromTop .7s .2s backwards;
}

main{
    animation: fromBottom .7s backwards;
}

main:nth-child(1){
    animation-delay: 0;
}

main:nth-child(2){
    animation-delay: .4s;
}

main:nth-child(3){
    animation-delay: .7s;
}

@keyframes fromTop {
    0% {
        opacity: 0;
        transform: translateY(-30px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width: 700px){
    .hamburger-menu{
        display: block;
    }
    .lista{
        display: none;
    }
    .fieldtempo{
        border-radius: 0px;
    }
}